@import url('https://fonts.googleapis.com/css?family=Playball');
main {
    background: #234465;
}
h1 {
    font-family: 'Playball', cursive;
    color: #E769FF;
    text-align: center;
    text-shadow: 1px 1px 3px #ffffff;
    padding: 20px;
}
.image {
    width: 730px;
    height: auto;
    margin-left: 25px;
    float: left;
    padding: 20px;
}
ol > li {
    color: #ffffff;
    font-family: 'Playball', cursive;
    letter-spacing: 3px;
    list-style-position: inside;
    margin: 0 auto;
    padding: 10px;
    text-shadow: 1px 1px 3px #E769FF;

}
ol > li::first-letter {
    font-size: 23px;
    text-shadow: 1px 1px 3px #E769FF;
}