@import url('https://fonts.googleapis.com/css?family=Playball');

h1 {
    text-align: center;
    font-family: 'Playball', cursive;
    color: #E769FF;
    text-shadow: 2px 2px 5px #ffffff;
    font-size: 50px;
    letter-spacing: 3px;
}
#paragraph {
    font-family: 'Playball', cursive;
    font-size: 25px;
    color: #ffffff;
    margin: 0 auto;
    padding: 7px;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 1px 1px 3px #E769FF;
}
main {
    background: #234465;
}
main > section > article {
    display: inline-block;
    width: calc(30% - 10px);
    font-family: 'Playball', cursive;
    margin: 0 auto;
}
.image {
    width: 330px;
    margin-top: 100px;
    height: 330px;
    margin-left: 25px;
    border: 4px solid #E769FF;
    box-shadow: 1px 1px 10px #ffffff;

}
article > p {
    color: #ffffff;
    width: 300px;
    height: 300px;
    margin-left: 60px;
    letter-spacing: 2px;
}
h2 {
    width: 305px;
    text-shadow: 1px 1px 3px #ffffff;
}
h2 {
    color: #E769FF;
    margin-left: 55px;
    letter-spacing: 4px;
}
section {
    margin-left: 160px;
    width: 1300px;
}
p::first-letter {
    font-size: 30px;
}