@import url('https://fonts.googleapis.com/css?family=Playball');
header, footer, main, section{
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

body{
	margin: 0 auto;
	font-family: 'Andantino script', arial;
	font-weight: bold;
}

.audio{
	float:right;
}

.logo-soft-cuni{
	display:inline-block;
	float: left;
	margin: 27px 0 15px 25px;
}

.logo-soft-cuni #logo-image{
	width: 200px;
	height: 42px;
	margin: 0;
}


.header-website{
	width: calc(100% - 100px);
	margin: 0 auto;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	margin-bottom: 10px;

	/*
	background: -moz-linear-gradient(-45deg, rgba(30,87,153,1) 0%, rgba(224,121,179,0.98) 58%, rgba(224,121,179,0.96) 100%); /* FF3.6-15 */
	/*	background: -webkit-linear-gradient(-45deg, rgba(30,87,153,1) 0%,rgba(224,121,179,0.98) 58%,rgba(224,121,179,0.96) 100%); /* Chrome10-25,Safari5.1-6 */
	/*	background: linear-gradient(135deg, rgba(30,87,153,1) 0%,rgba(224,121,179,0.98) 58%,rgba(224,121,179,0.96) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	/*	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#f5e079b3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background: #5a5c95;

}

#logo-image{
	width: 70px;
	height: 70px;
	margin-left: 20px;
	display: inline-block;
}

#logo-title, nav{
	font-size: 25px;
	display: inline-block;
}

.nav-bar ul{
	margin: 10px;
	padding: 0;
}

.nav-bar ul li{
	margin-top: 20px;
	margin-right: 10px;
	font-size: 35px;
	display: inline-block;
	list-style: none;
}

.nav-bar ul li a{
	text-decoration: none;
	color: #ffffff;
}

.nav-bar ul li a:hover{
	color: #e079b3;
	transition: all 0.8s;
}

.logo-soft-cuni{
	margin-right: 15px;
}

/* media querys for header-nav <- to become responsible */
@media screen and(max-width: 900px){
	.nav-bar{display:block;}
}

/* Main */

main{
	margin: 0 auto;
	width: calc(100% - 100px);
	margin-bottom: 10px;
	
	/*	background: -moz-linear-gradient(-45deg, rgba(30,87,153,1) 0%, rgba(224,121,179,0.98) 58%, rgba(224,121,179,0.96) 100%); /* FF3.6-15 */
	/*	background: -webkit-linear-gradient(-45deg, rgba(30,87,153,1) 0%,rgba(224,121,179,0.98) 58%,rgba(224,121,179,0.96) 100%); /* Chrome10-25,Safari5.1-6 */
	/*	background: linear-gradient(135deg, rgba(30,87,153,1) 0%,rgba(224,121,179,0.98) 58%,rgba(224,121,179,0.96) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	/*	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#f5e079b3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	background: #234465;
}

h1 {
    text-align: center;
    font-family: 'Playball', cursive;
    color: #E769FF;
    text-shadow: 2px 2px 5px #ffffff;
    font-size: 50px;
    letter-spacing: 3px;
	padding-top: 10px;
}

#paragraph {
    font-family: 'Playball', cursive;
    font-size: 25px;
    color: #ffffff;
    margin: 10px;
	padding: 7px;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 1px 1px 3px #E769FF;
}

.container{
	margin: 0 auto;
	width:100%;
    text-align:center;
}

article {
    display: inline-block;
    width: 30%;
	min-width: 200px;
    font-family: 'Playball', cursive;
    margin: 70px 10px 10px 10px;
	text-align: center;
	vertical-align: top;
}

.image {
    max-width: 80%;
    height: auto;
    border: 4px solid #E769FF;
    box-shadow: 1px 1px 10px #ffffff;
}

article > p {
	margin: 10px;
    color: #ffffff;
    letter-spacing: 2px;
	word-wrap: break-word;
}

h2 {
	margin: 10px;
	color: #E769FF;
    letter-spacing: 4px;
    text-shadow: 1px 1px 3px #ffffff;
	word-wrap: break-word;
}

p::first-letter {
    font-size: 30px;
}

/* Footer */

footer{
	width: calc(100% - 100px);
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	background: #5a5c95;
}

footer .footer-container>div{
	width: 30%;
	min-width: 200px;
	/*border: 1px solid green;*/
	display: inline-block;
	vertical-align: top;
}

.copyrigth p{
	font-size: 15px;
	color: #fff;
}

.copyrigth a{
	font-style: italic;
	text-decoration: none;
	color: #fff;
}

.sitemap{
	border-left: 1px solid white;
	border-right:1px solid white;
}

.sitemap ul{
	margin: 0 auto;
	padding: 10px;
	text-align: left;
}

.sitemap ul li{
	width: 30%;
	min-width: 70px;
	margin: 2px;
	/*border: 1px solid green;*/
	font-size: 15px;
	display: inline-block;
	list-style: none;
	word-wrap: break-word;
	vertical-align: top;
}

.sitemap ul li a{
	text-decoration: none;
	color: #fff;
}

.sitemap ul li a:hover{
	color: #e079b3;
}
/*
.social-links{
	padding-top: 30px;
}

.social-links img{
	width: 30px;
	margin: 5px;
	border-radius: 15%;
}*/

.social-links{
	margin: 0 auto;
	padding: 0;
	background: #fff;
}

.social-links>div{
	margin: 0 auto;
	display: block;
	text-align: left;
}

#like-us{
	font-family: Tahoma,sans-serif;
	font-size: 12px;
	padding: 7px;
	color: #323232;
	background: #ECEEF3;
}

#fb-link{
	height: 70px;
	border: 1px solid #d7dee9;
	padding: 10px;
}

#fb-link #fb-page-img{
	float: left;
	width: 70px;
}

#fb-link>#fb-page-link{
	width: 70%;
	display: inline-block;
	margin-left: 7px;
	font-family: Tahoma,sans-serif; 
	font-size: 14px;
	color: #3B5997;
	text-decoration: none;
}

#fb-link>#like{
	border: 1px solid #C9D3E6;
	border-radius: 10%;
	margin-top: 7px;
	margin-left: 7px;
	display: inline-block;
	text-decoration: none;
	width: 40px;
	padding: 3px 10px 3px 10px;
	background: #EBEDF4;
	font-size: 12px;
	font-family: Tahoma,sans-serif;
	color: #3B5997;
}

#fb-link>#like:hover{
	background: #3B5997;
	color: #EBEDF4;
}

#people-liked>p{
	font-family: Arial,sans-serif;
	font-size: 12px;
	color: #323232;
	padding-left: 10px;
}

#people-liked>p>span{
	font-family: Arial,sans-serif;
	font-size: 12px;
	color: #3B5997;
}

#people-liked img{
	width: 60px;
	height: 60px;
	
}

#people-liked ul{
	padding-left: 10px;
	
}

#people-liked ul li{
	width: 18%;
	list-style: none;
	display: inline-block;

}
